div {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: visible;

}

.body {
    top: 0%;
    left: 0%;
    position: absolute;
    overflow: visible;
}

.text {
    opacity: 0;
}

#backdrop {
    opacity: 0;
    left:-10%;
    top:-5%;
    width:117%;
    height:113%;
    background: url("images/404_arnold.jpg") no-repeat center center;
    background-size: 100%;

    animation: fadeIn 5s forwards, moveBernard 40s ease-out forwards;
}

#doesnt-look-wrapper {
    top: 3%;
    left: 2%;
    background: url("images/doesnt-look.png") no-repeat;
    animation: fadeIn 7s forwards, moveTextRight 5s ease-out forwards;
    animation-delay: 1.5s;
}

#like-wrapper {
    top: 17%;
    left: 27%;
    background: url("images/like.png") no-repeat;
    animation: fadeIn 7s forwards, moveTextLeft 5s ease-out forwards;
    animation-delay: 2s;

}

#anything-at-all-wrapper {
    top: 9%;
    left: -10%;
    background: url("images/anything-at-all.png") no-repeat;
    animation: fadeIn 7s forwards, moveTextRight 5s ease-out forwards;
    animation-delay: 2.5s;

}

#to-me-wrapper {
    top: 38%;
    left: 18%;
    background: url("images/to-me.png") no-repeat;
    animation: fadeIn 7s forwards, moveTextLeft 5s ease-out forwards;
    animation-delay: 3.2s;
}

#four-oh-four-wrapper {
    top: 55%;
    left: -3%;
    background: url("images/404.png") no-repeat;
    animation: fadeIn 7s forwards, moveTextUp 5s ease-out forwards;
    animation-delay: 4.5s;
}

@keyframes moveBernard {
  0% { transform: translate(5%, 2%); }
  100% { transform: translate(-2.5%, -2%); }
}

@keyframes moveTextUp {
    0% { transform: translateY(4%) scale(0.8, 0.8); }
    100% { transform: translateY(0%) scale(0.8, 0.8); }
}

@keyframes moveTextLeft {
    0% { transform: translateX(-2%) scale(0.8, 0.8); }
    100% { transform: translateX(0%) scale(0.8, 0.8); }
}

@keyframes moveTextRight {
    0% { transform: translateX(2%) scale(0.8, 0.8); }
    100% { transform: translateX(0%) scale(0.8, 0.8); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
