/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
  --black: #302c2e;
  --lightGreen: rgba(143, 246, 181, 0.2);
  --lightBlue: rgba(214, 221, 252, 1);
  --darkBlue: rgba(0, 18, 137, 1);
}

* {
  font-family: 'Source Code Pro'
}

/* App Styles */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--lightGreen);
}

.header-text {
  margin-bottom: 0px;
  color: var(--darkBlue)
}

.chart-container{
  background-color: var(--lightBlue);
  border: 2px solid var(--darkBlue);
  box-shadow: 7px 10px var(--darkBlue);
  padding: 20px;
  margin-top: 0;
}

/* Stats Boxs Styles */
.stats-boxes{
  width: 100vw;
}

.stat-box {
  width: 25%;
  background-color: #F1F1F1;
  border: 2px solid var(--black);
  box-shadow: 7px 10px var(--black);
}

/* Axis Styles */
.Axis path,
.Axis line {
  stroke: var(--darkBlue);
}

.Axis text {
  font-size: 11px;
  fill: var(--darkBlue);
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
  fill: var(--darkBlue);
}
