html, body {
  background: grey;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zoomer {
  transform: scale(3, 3)
}

canvas {
  padding: 1px;
  border: 2px solid teal;
  image-rendering: pixelated;
}
