html, body {
  background: grey;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  padding: 1px;
  border: 2px solid teal;
  image-rendering: pixelated;
}

#zoomer {
  transform: scale(7, 7);
}

#mover{
  transform: translate(0px,0px);
}

#zoomStatus {
  position: fixed;
  left: 60px;
  top: 40px;
  background-color: RGBa(175,175,175,.6);
  border: solid;
  border-width: thin;
  border-color: RGBa(1,1,1,0);
  border-radius: 2px;
  padding: 10px;
  z-index: 100;
  user-select: none;
}

.questionMark {
  height: 70px;
  z-index: 90;
  transition: opacity 0.5s ease-out;
  opacity: 0.5
}

.questionMarkHidden{
  height: 70px;
  z-index: 90;
  transition: opacity 0.5s ease-out;
  opacity: 0
}

.questionMark:hover{
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.close:hover {
  cursor: pointer;
}

.instructionsHidden {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease-out;
}

.instructions {
  opacity: 1;
  z-index: 100;
  transition: opacity 0.5s ease-out;
}
.instructionsText{
  border: solid;
  border-radius: 10px;
  border-color: RGBA(1,1,1,0);
  background-color: RGBa(175,175,175,.6);
  padding: 10px;
}
