html, body {
  background: grey;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  padding: 1px;
  border: 2px solid teal;
  image-rendering: pixelated;
}

#zoomer {
  transform: scale(7, 7);
}

#mover{
  transform: translate(0px,0px);
}

#statusBar {
  position: fixed;
  top: 20px;
  z-index: 100;
  display: flex;
}

#zoomStatus {
  position: fixed;
  left: 60px;
  top: 40px;
  background-color: RGBa(175,175,175,.6);
  border: solid;
  border-width: thin;
  border-color: RGBa(1,1,1,0);
  border-radius: 2px;
  padding: 10px;
  z-index: 100;
  user-select: none;
}

#resetPosition {
    background-color: RGBa(255,255,255,1);
    border: solid;
    border-width: thin;
    border-color: grey;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
}

#resetPosition:hover {
  cursor: pointer;
}

#resetPosition:active {
  background-color: grey;
}

.questionMark {
  height: 70px;
  z-index: 90;
  transition: opacity 1s ease-out;

}

.instructions {
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease-in;
}
